*:focus{outline:none;}
*{box-sizing: border-box;}
html{overflow-x: hidden;}

body{
	font: normal 12px/18px OpenSansHebrewRegular, Tahoma, Arial, sans-serif;
	margin:0;
	width:100%;
	direction:ltr;
	background:#F4F9FC;
	color: #333;
}

h1{
    margin:0;
    font-size: 24px;
}

.w40{width:40%;}
.w60{width:60%;}

.p20{padding:20%;}

.al{text-align: left;}

.row{margin:0 0 15px;}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 15px;
    width: 100%;
}

.flex{display: flex; flex-direction: row-reverse;}

#right-area {
    position: fixed;
    left: 0px;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 60%;
}

#right-area img {
    max-width: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#left-area{width: 40%;}

.form{padding:20%;}

.inner-form {
    padding: 20px;
}

#left-area .form{
    padding:10% 20%;
}

.form.inner-form {
    padding: 0;
}


.header{background-color: #434242; padding: 5px 0;}

.header .logo{padding: 8px 0; text-align: right; display: flex; justify-content: flex-end; align-items: center;}

.header .logo img{height:55px;}

.header h1{
    color: #fff;
    font-size: 18px;
    margin: 26px 0 0;
}

.inner-form input[type=text], .inner-form input[type=date], .inner-form input[type=password], .inner-form input[type=email], .inner-form input[type=number], .inner-form select {
    background: #F6F9FE;
    height: 48px;
    width: 100%;
    border: 1px solid #D4D9DF;
    border-radius: 6px;
    padding: 0 15px;
    text-align: right;
}

#left-area .inner-form input[type=text], #left-area .inner-form input[type=date], #left-area .inner-form input[type=password], #left-area .inner-form input[type=email], #left-area .inner-form input[type=number], #left-area .inner-form select{
    max-width: 550px;
    display: block;
    margin: 0 auto 10px;
}

.inner-form input:focus{
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: dotted thin\9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)
}

.inner-form label{
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    color:#333;
}

#left-area .inner-form label{
    text-align: right;
}

.btn {
    height: 48px;
    width: 100%;
    background: #00CB84;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 12px 90px;
    border-radius: 6px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    -webkit-transition: .3s;
    transition: .3s;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-decoration: none; 
    cursor: pointer;
    border: none;
}

#left-area .inner-form .btn{
    max-width: 550px;
    margin: 0 auto;
}

.btn:hover{
    background-color: #1f888e;
    color:#fff;
}

.btn:active{
    background-color: #1f4b8e;
    color:#fff;
}

.btns{
    height: 48px;
    background: #00CB84;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    border-radius: 6px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    -webkit-transition: .3s;
    transition: .3s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    text-decoration: none; 
    cursor: pointer;
    border: none;
}

.btns:hover{
    background-color: #1f888e;
    color:#fff;
}

.btns:active{
    background-color: #1f4b8e;
    color:#fff;
}

.alertMsg{
    font-size: inherit;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: red;
    background-color: rgba(255, 228, 228, 0.75);
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
    animation: showFromLeft 0.3s linear;
}

.successMsg{
    font-size: inherit;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: green;
    background-color: rgba(218, 249, 223, 0.75);
    box-shadow: 0px 0 10px 0px rgb(11 205 61 / 50%);
    animation: showFromLeft 0.3s normal;
}

@keyframes showFromLeft {
    0% { opacity:0;margin-left:-100%;}
    25% { opacity:0.2;margin-left:-50%;}
    35% { opacity:0.4;margin-left:-20%;}
    50% { opacity:0.8;margin-left:-15%;}
    65% { opacity:0.9;margin-left:-12%;}
    75% { opacity:0.9;margin-left:-10%;}
    80% { opacity:0.9;margin-left:-8%;}
    85% { opacity:0.95;margin-left:-6%;} 
    90% { opacity:0.95;margin-left:-4%;}  
    95% { opacity:0.95;margin-left:-2%;}    
    100% { opacity:1;margin-left:0;}
}

a{
    text-decoration: none;
    color:#333;
}

a:hover{
    color:#00CB84;
}

.w20{width:20%;}
.w15{width:15%;}
.w45{width:45%;}
.w50{width:50%;}
.w5{width:5%;}
.w60{width:60%;}
.ac{text-align: center;}
.ar{text-align: right;}
.ptb20{padding: 20px 0;}
.ptb30{padding: 30px 0;}

#spinner{
    background: #919fa640 url(../images/loader.gif) no-repeat;
    background-position: center;
    background-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.table table{
    width: 100%;
    text-align: right;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    border-collapse: collapse;
}

.table table th{
    padding: 10px;  
}

.table table td{
    padding: 8px 10px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.table table tr:nth-child(odd) td{
    background-color: #f6f6f6;
}

.table table .id{
    width:5%;
    text-align: center;
}

.empty{text-align: center; padding: 20px; color: #999;}

input[type=date]{
    background: #F6F9FE;
    height: 40px;
    border: 1px solid #D4D9DF;
    border-radius: 6px;
    padding: 0 15px;
}

.flex.panel{
    display: flex;
}

.popup-back{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #00000033;
}

.popup{
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 10;
    width: 100%;
    max-width: 500px;
    margin-left: -250px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.popup .head-popup{
    background-color: #e4e8ec;
    padding: 0 20px;
    display: flex;
}

.popup .head-title{
    font-weight: bold;
    text-align: right;
}

.popup-inner{
    padding: 25px;
    height:100%;
    overflow-x: auto;
}

.popup .botBtns{
    margin:20px 0 0;
    display: flex;
}

.popup .botBtns a,
.popup .botBtns button{
    height: 40px;
    padding: 0 20px;
    background: #00CB84;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}

.popup .botBtns a:hover,
.popup .botBtns button:hover{
    background-color: #1f888e;
}

.popup .botBtns a:active,
.popup .botBtns button:active{
    background-color: #1f4b8e;
}

.w80{width:80%;}
.ptb20{padding: 20px 0;}

#user-top{
    padding: 18px 0 0;
    position: relative;
}

#user-top #user-circle{
    background-color: #212121;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    margin-left: 6px;
    cursor: pointer;
}

#user-top i{
    cursor: pointer;
    color: #fff; 
}

#user-top #user-info{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    z-index: 9;
    width: 155px;
    font-size: 15px;
    color: #000;
    left: 0;
    top: 0;
    padding: 10px;
    margin: 55px 0 0;
    transition: opacity 1000ms, display 1000ms;
    display: none;
    opacity: 0;
}

#user-top #user-info.active{
    display: block;
    opacity: 1;
    animation: vertical-margin 0.1s linear;
    text-align: center;
}

#user-top #user-info a{
    padding: 15px 0 0;
}

#menu{
    margin: 0;
}

#menu > i, #menu li > i{
    display:none;
}

#menu ul{
    margin: 0;
}

#menu li{
    display: inline-block;
}

#menu li a{
    font-size: 18px;
    color: #fff;
    padding: 27px;
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom: 5px solid #434242;
}

#menu li a.router-link-active{
    color:#00CB84; 
    border-bottom: 5px solid #00CB84;
}

#menu li a:hover{
    color:#00CB84;
    background-color: #333;
    border-bottom: 5px solid #333;
}

@keyframes vertical-margin {
    0% { margin-top: 0 }
    25% { margin-top: 10px }
    50% { margin-top: 20px }
    75% { margin-top: 35px }
    100% { margin-top: 55px }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00CB84;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
